/*
colors:
https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=F0F4C3&primary.color=263238
*/

/* fonts
font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Alegreya SC', serif;
*/

/*
https://coolors.co/102027-d30c7b-ffe3dc-efa7a7-dbb4ad
HEX
RGB
HSV
CMYK
#102027
16 32 39
198 59 15
59 18 0 85
HEX
RGB
HSV
CMYK
#d30c7b
211 12 123
327 94 83
0 94 42 17
HEX
RGB
HSV
CMYK
#ffe3dc
255 227 220
12 14 100
0 11 14 0
HEX
RGB
HSV
CMYK
#efa7a7
239 167 167
0 30 94
0 30 30 6
HEX
RGB
HSV
CMYK
#dbb4ad
219 180 173
9 21 86
0 18 21 14
*/

/*
eery black: #0B1519 / TURQ: #41EAD4 / BABY POWDER: #FDFFFC
magenta: #D30C7B
misty rose: #FFE3DC
pale chestnut: #DBB4AD
mauvelous?: #EFA7A7
oxford blue: #031D44
outer space: #424C55
phthalo green: #122C34

powder blue: #AFDEDC
rich black: #000A12
honeydew: #F0F7EE
DARK TANG: #FCA311
TURQ: #4CE0D2
TANG: #F18F01
CHARCOAL: #2F4550
PAYNE'S GREY: #586F7C
COLOM BLUE: #B8DBD9
MED TURK: #55D6BE
magic mint: #ACFCD9;

SCHEME:
PHTALO GREEN: #122C34
mauvelous?: #EFA7A7
PALE GOLDENROD: #DBF4AD
GRANNY SMITH: #A9E190
MISTY MOSS: #CDC776

CONTRAST ORANGE FIREBRICK: #BA2921
CONTRAST: RED SALSA #F03A47
WHITE SMOKE: #F6F4F3
japanese indigo: #273F46;
fire engine red: #C42021;
very pale yellow: #F3FFB9;
eton blue: #92BDA3;

smoky black: #0C000B
eerie black: #101B1E
eerie purplish black: #161621

NIce: https://coolors.co/161621-a4bab7-eff2c0-eae0d5-a52422
EERIE: #161621
CAMBRIDGE: #A4BAB7 / JAPANESE CARMINE: #8B2635 / JET: #2E3532
PALE SPRING: #EFF2C0
PALE TAUPE: #BEA57D / ALT: TEAL BLUE: #468189
PEARL: #EAE0D5
JUNE BUD: #C5D86D
RED BROWN: #A52422
DEER: #BE7C4D
SANGRIA: #92140C

#0B1519
#74E537
#CF5C37
#EFFFC6
ROBINS EGG: #9CE5CE

#EERIEBLACK: #0B1519
#OXFORD BLUE: #001F54
#ROSE: #F20083

#SPACE CADET KINDA GREY PURPLE: #2E294E
OOOH MAHOGANY: #C44900
MUNSELL #EC0B43
DESERT SAND: #EFD6AC
SLATE GRAY: #6B818C
HARLEQUIN GREEN: #3EC300

color: #74C5C4;

#dad2d8, #101826, #011627, #051121, #040419 
+ light green? #8AEA92
+ gargoyle gas lol: #FFE74C;
_ electric blue: #69FFF1;

#040419
#ed254e
#011627
#e56399
#320e3b

#040419
#FA8334
#4ECDC4
#CC1916
#DDD92A
#22FF16

#040419
#F6D026
#00D1FF
#00D1FF

#E6F0D1

#B8362A
#00D1FF
#F6D026

https://www.palettable.io/F6D026-040419-00D1FF-E07994-544091



THIS IS IT:
https://coolors.co/7f7b82-444554-ff776b-22031f-040415
#7f7b82
#444554
#ff776b
#22031f
#040415


*/

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}


html, body {
	/* overflow-x: hidden; */
}

html {
	/* height: 100%; */
}

body {
	font-family: 'Alegreya', sans-serif;
	background: radial-gradient(#040419e0, /* #040419f1, #040419f8, */#040419);
	background-size: 150% 500%;
	background-position: 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:16px;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.icon {
	fill: currentColor;
}

.action {
	background: none;
	border: 0;
	color:#fff;
	cursor: pointer;
	padding: 0;
}

.action--menu {
	pointer-events: auto;
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 1000;
}

.header {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	padding:0rem 0rem 0rem 0rem;
	opacity:0.8;
}

.header-text a {
	/* color: #D00000; */
	/* color: #fff; */
	color: #00D1FF;
	font-weight:500;
	text-transform: uppercase;
}


.header-text, .icon {

}

.menubutton {
	font-size:1rem;
	line-height: 2;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	/* background: #00D1FF; */
	padding: 0.3em 0.5em 0.3em 0.5em;
}

.menu--open .action--menu {
	pointer-events: none;
}

.header-text {
	font-family: 'Rubik', sans-serif;
	display: block;
	font-size: 32px;
	font-weight:500;
	letter-spacing: -0px;
}


.main-content {
	flex-wrap:wrap;
	max-width:350px;	
}

.content-block {
	margin-left:0.6rem;
	margin-right:1rem;
	font-weight:400;
	font-family: 'Alegreya', serif;
	/* line-height:1.6rem; */
}

.main-content {
	margin-top:0;
}

.main-content p {
	margin-top:0;
}

#box {
	mix-blend-mode: soft-light;
	color: #fff;
	width: 100%;
}

a {
	text-decoration: none;
	color:#E8E8EA;
}

a:hover {
	color:#333;
}

ul {
	list-style-type: none;
	padding-left:0em;
	/* max-width:90vw; */
	margin-top:0;
}

li {
	margin: 0em;
	padding-top: 0;
	margin-left: 0;
	padding-bottom: 0em;
}

li a {
	/* text-decoration: none; */
	/* color: #c158dc; */
}

.hero {
	/* margin-top:1rem; */
	max-width: 250px;
	font-size: 22px;
	font-weight:400;
	font-style: italic;
	line-height: 1.6;
	/* font-style:italic; */
	/* text-transform: uppercase; */
	color:  #E8E8EA;
	/* font-family: 'Alegreya', serif; */
	/* font-family: 'Rubik'; */
	/* font-family: 'IBM Plex Sans Condensed'; */
	/* font-family: 'IBM Plex Sans'; */
	font-family: 'Work Sans';
	font-family: 'IBM Plex Mono';
	/* line-height:1rem; */
	/* letter-spacing: -0.01rem; */
}

nav {
	display: block;
	font-family: 'Rubik';
	font-weight:500;
	letter-spacing: -0.01rem;
	margin-left: 0.6rem;
	margin-top:3rem;
	color: #ffffffa0;
	font-size: 16px;
	margin-right:0.5rem;
	opacity:0.8;
	margin-bottom:0.5rem;
	max-width:400px;
	line-height:1.4;
}

.find-me {

	/* font-family: 'Work Sans'; */
	/* font-family: 'Alegreya';	r */


}

.find-me ul {
	margin-bottom:0;
}

.find-me li {
	display: inline-block;
	text-transform: uppercase;
}

.find-me li a {
	text-decoration: auto;
	/* color: #ffffffa0; */
}

.under a {
	/* -webkit-text-decoration: rgba(255,255,255,0.5) solid underline;
	text-decoration: rgba(255,255,255,0.5) solid underline;
	-webkit-text-underline-position: auto;
	text-underline-position: auto; */
}

.under a:hover {
	text-decoration: none;
	transition: all 10s ease-in-out;
}

.find-me a:hover {
	/* color:rgba(255,255,255,1); */
}

/* .find-me li:hover {
	cursor:pointer;
	transition: border-color 0.5s ease, background-color 0.25s ease-out, text-shadow 0.5s ease-in-out;
	color: #fff;
} */

.find-me li:hover a:before {
	color: #fff;
	transition: color 0.75s ease;
}

.find-me li:hover:before {
	/* color: #ce93d8; */
}

.find-me a:before:hover {
	color: #ce93d8;
}

.find-me a:hover {
	color: #fff1ff;
	color: #ce93d8;
	color: #000a12;
	color: #ce93d8;
	transition: color 0.25s ease;
}

.find-me li::after {
	content: '   /  ';
	padding-left:0.1rem;
	padding-right:0.1rem;
	opacity: 0.9;
}

.find-me li:last-child::after {
	content: '';
}

.find-me a:hover:before {
	color:rgba(255,255,255,1);
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	25 % {
		background-position: 70% 50%;
	}
	50% {
		background-position: 30% 30%;
	}
	75% {
		background-position: 0% 70%;
	}
	100% {
		background-position: 0% 100%;
	}
}

