html {
	height: 100%;
}

body {
	font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
	color: #fff;
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	background-size: 1000% 1000%;
	display: flex;
	padding: 3%;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	animation: animatedgradient 15s ease infinite alternate;
}

#container {}

#box {
	mix-blend-mode: soft-light;
	color: #fff;
	width: 100%;
}

a {
	text-decoration: none;
	color:#fff;
}

a:hover {
	color:#f37055;
	/*    color:#111; */
}

ul {
	display: none;
	list-style-type: none;
	padding-left: 0;
	margin-top: 1em;
}

li {
	margin: 0em;
	padding: 0.5em;
	padding-left: 0.5em;
	padding-top: 0;
	float: left;
	margin-left: 0;
	padding-bottom: 0em;
	line-height: 2em;
}

li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
	font-family: 'lora';
}

.titlez {
	margin-bottom: 0.3em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.10);
	padding: 0.3em;
	padding-left: 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
}

.titlez a {
	text-transform: lowercase;
	letter-spacing: -3px;
	font-family: 'karla';
	font-size: 2.5em;
	color: #fff;
	line-height: 0.9em;
	font-weight: 700;
}

.title {
	--borderWidth: 1px;
	background: #263238;
	position: relative;
	color: #fff;
	margin-bottom: 3px;
	border-radius: var(--borderWidth);
}

.title a {
	font-size: 2em;
	color: #fff;
}

@keyframes animatedgradient {
	0% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 70% 70%;
	}
	75% {
		background-position: 30% 30%;
	}
	100% {
		background-position: 100% 0%;
	}
}
