.colors {
    color: #cbbf88;
    color: #cbc693;
    color: #fffff7;
    color: #D30C7B;
    color: #B3EFB2;
    color: #FCA311;
    color: #55D6BE;
    color: #EFA7A7;
    color: #BA2921;
    color: #9CE5CE;
    color: #74C5C4;
}


.thisisit {
	#7f7b82
	#444554
	#ff776b
	#22031f
	#040415
}